* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto;
    width: 90%;
}

.container {
    background-color: white;
    padding: 1rem 3rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    border-top: rgb(80, 98, 255) 0.5rem solid;
}

h2 {
    margin: 1rem 0;
}

